.button {
    background-color: #f40505; /* Black background */
    color: #fff; /* White text */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Add some padding */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Change cursor to pointer */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  }
  
  .button:hover {
    background-color: #a43737; /* Darker black on hover */
    transform: scale(1.05); 
  }
  
  .button:active {
    background-color: #7b3636; 
    transform: scale(0.98); 
  }
  