

  .detail-container {
    display: flex;
    justify-content: center;
    height: fit-content;
   
    padding: 20px;
  }
  .saved{
    color: #e74c3c;
  }

  .detail {
    display: flex;
    flex-direction: row;
    background-color: #ead1d1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    height: fit-content;
    margin: 20px;
    box-sizing: border-box; 
  }
  
  .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
 
  .content {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .content h2 {
    margin: 0;
    font-size: 1.8rem;
    color: #333;
  }
  
  .content p {
    margin: 10px 0;
    color: #555;
  }
  
  .content span {
    font-size: 1.2rem;
    color: #333;
  }
  
 
  
  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .price span {
    font-size: 1.4rem;
    margin-right: 10px;
  }
  
  .price .mrp {
    color: #888;
    text-decoration: line-through;
    
  }
  
  .price .current-price {
    color: #e74c3c;
    font-weight: bold;
  }
  
 
  @media (max-width: 768px) {
    .detail {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .image {
      padding: 10px;
    }
  
    .content {
      padding: 10px;
    }
  
    .content h2 {
      font-size: 1.5rem;
    }
  
    .content span {
      font-size: 1rem;
    }
  
    .price span {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .detail {
      padding: 10px;
    }
  
    .image img {
      width: 100%;
      height: auto;
    }
  
    .content h2 {
      font-size: 1.2rem;
    }
  
    .content span {
      font-size: 0.9rem;
    }
  
    .price span {
      font-size: 1rem;
    }
  }
  